<nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Inicio", static_pages_home_path, class:"navbar-item" %>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Carretes
        </a>
        <div class="navbar-dropdown">
          <%= link_to "Ver carretes", parties_index_path, class:"navbar-item"%>
          <% if current_user and not current_user.admin %>
          <%= link_to "Crear carrete", parties_new_path, class:"navbar-item"%>
          <% end %>
        </div>
      </div>

      <% if current_user %>
      <% if current_user.admin %>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Comunas
        </a>
        <div class="navbar-dropdown">
          <%= link_to "Ver comunas", comunas_index_path, class:"navbar-item"%>

          <%= link_to "Crear comuna", comunas_new_path, class:"navbar-item"%>
        </div>
      </div>
      <% end %>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Servicios
        </a>
        <div class="navbar-dropdown">
          <%= link_to "Ver servicios", services_index_path, class:"navbar-item"%>
          <% if not current_user.admin %>
          <%= link_to "Crear servicio", services_new_path, class:"navbar-item"%>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if not current_user %>
          <%= link_to 'Registrarse', new_user_registration_path, class:"button is-link" %> 
          <%= link_to 'Iniciar sesi칩n', new_user_session_path, class:"button is-link" %> 
          <% else %> 
            <% if not current_user.admin %>
            <%= link_to "Mi perfil", user_show_session_path, class:"button is-link" %> 
            <% end %>
          <%= link_to 'Cerrar sesi칩n', destroy_user_session_path, method: :delete, class:"button is-link" %> 
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>


<section class="hero is-link is-fullheight-with-navbar">
<div class="hero-body">
  <div class="container">

<div class="columns is-mobile is-centered">
<div class="column is-half">

    <h1 class="title">
    Crear servicio
    </h1>

      <%= form_with(model: @service, method: :post, html: {class: 'box'}) do |form| %>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label is normal">Nombre</label>
            </div>
            <div class="field-body">
              <div class="field"> 
                  <%=form.text_field :nombre, class:"input", placeholder: "Ponle nombre a tu servicio", required:true%>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label is normal">Descripci칩n</label>
            </div>
            <div class="field-body">
              <div class="field"> 
                  <%=form.text_field :descripcion, class:"input", placeholder: "Describe que hace tu servicio", required:true%>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label is normal">Capacidad</label>
            </div>
            <div class="field-body">
              <div class="field"> 
                  <%=form.number_field :cap_max, class:"input", placeholder: "Ingresa la capacidad m치xima del servicio", required:true%>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Precio</label>
            </div>
            <div class="field-body">
              <div class="field is-expanded">
                <div class="field has-addons">
                  <div class="control">
                    <div class="button is-static">
                      $
                    </div>
                  </div>
                  <div class="control is-expanded">
                    <%=form.number_field :precio, class:"input", placeholder: "Ingresa el valor del servicio", required:true %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="field">
              <%= form.hidden_field :user_id, :value => current_user.id%>
          </div> 

          <div class="field is-horizontal">
            <div class="field-label">
            </div>
            <div class="field-body">
              <div class="field">
                <div class="actions">
                  <%=form.submit "Crear servicio", class: "button is-success" %>
                </div>
              </div>
            </div>
          </div>
          
      <% end %>

    
</div>
</div>


</div>
</div>
</section>