

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Inicio", static_pages_home_path, class:"navbar-item" %>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Carretes
        </a>
        <div class="navbar-dropdown">
          <%= link_to "Ver carretes", parties_index_path, class:"navbar-item"%>
          <% if current_user %>
          <%= link_to "Crear carrete", parties_new_path, class:"navbar-item"%>
          <% end %>
        </div>
      </div>

      <% if current_user %>
      <% if current_user.admin %>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Comunas
        </a>
        <div class="navbar-dropdown">
          <%= link_to "Ver comunas", comunas_index_path, class:"navbar-item"%>

          <%= link_to "Crear comuna", comunas_new_path, class:"navbar-item"%>
        </div>
      </div>
      <% end %>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Servicios
        </a>
        <div class="navbar-dropdown">
          <%= link_to "Ver servicios", services_index_path, class:"navbar-item"%>
          <%= link_to "Crear servicio", services_new_path, class:"navbar-item"%>
        </div>
      </div>
    <% end %>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if not current_user %>
          <%= link_to 'Registrarse', new_user_registration_path, class:"button is-link" %> 
          <%= link_to 'Iniciar sesión', new_user_session_path, class:"button is-link" %> 
          <% else %> 
          <%= link_to "Editar cuenta", edit_user_registration_path, class:"button is-link" %> 
          <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class:"button is-link" %> 
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>


<section class="hero is-link is-fullheight-with-navbar">
<div class="hero-body">
  <div class="container">

<h1 class="title">
    Detalles
</h1>

<div class="columns">
  <div class="column">
    <div class="card">
    <div class="card-content">
        <div class="content">
        <h3 class="title has-text-black-bis"> <%= @service.nombre %></h3>
        Descripción: <%= @service.descripcion %> <br/>
        Capacidad máxima: <%= @service.cap_max %> <br/>
        Precio: $<%= @service.precio %> <br/> <br/>
        </div>
    </div>
</div>
  </div>

  <div class="column">


</div>
  <div class="column">
  </div>

</div>

<h1 class="title">
    Comentarios
</h1>

<div class="columns is-multiline">
  <% @c_servicio.each do |comentario| %>
  <div class="column is-one-quarter">
    <div class="card">
        <div class="message is-info">
        <div class="message-header">
        <% if comentario.user_id == current_user.id%>
          Tú
          <%= link_to "Eliminar", comentario_path(comentario.id), method: :delete, class: "delete", data: { confirm: "¿Estás seguro?" }%>
        <% end %>
        <% User.all.each do |usuario| %>
          <% if usuario.id == comentario.user_id and comentario.user_id != current_user.id%>
            <%= usuario.first_name %> <%= usuario.last_name %>
          <% end %>

        <% end %>
      </div>
          <div class="message-body">
            <%= comentario.contenido %> </br>
            <%= comentario.created_at.strftime("%d-%m-%Y")%></br>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


</div>
</div>
</section>