<nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Inicio", static_pages_home_path, class:"navbar-item" %>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Carretes
        </a>
        <div class="navbar-dropdown">
          <%= link_to "Ver carretes", parties_index_path, class:"navbar-item"%>
          <% if current_user and not current_user.admin %>
          <%= link_to "Crear carrete", parties_new_path, class:"navbar-item"%>
          <% end %>
        </div>
      </div>

      <% if current_user %>
      <% if current_user.admin %>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Comunas
        </a>
        <div class="navbar-dropdown">
          <%= link_to "Ver comunas", comunas_index_path, class:"navbar-item"%>

          <%= link_to "Crear comuna", comunas_new_path, class:"navbar-item"%>
        </div>
      </div>
      <% end %>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Servicios
        </a>
        <div class="navbar-dropdown">
          <%= link_to "Ver servicios", services_index_path, class:"navbar-item"%>
          <% if not current_user.admin %>
          <%= link_to "Crear servicio", services_new_path, class:"navbar-item"%>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if not current_user %>
          <%= link_to 'Registrarse', new_user_registration_path, class:"button is-link" %> 
          <%= link_to 'Iniciar sesión', new_user_session_path, class:"button is-link" %> 
          <% else %> 
            <% if not current_user.admin %>
            <%= link_to "Mi perfil", user_show_session_path, class:"button is-link" %> 
            <% end %>
          <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class:"button is-link" %> 
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>


<section class="hero is-link is-fullheight-with-navbar">
<div class="hero-body">
<div class="container">

<div class="columns">
  <div class="column">
    
  </div>
<div class="column">
<h1 class="title">
Editar carrete
</h1>

<%= form_with(model: @party, method: :patch, html: {class: 'box'}) do |form| %>
    <div class="field"> 
        <%=form.label :titulo, 'Título'%> <br />
        <%=form.text_field :titulo%>
    </div>
    <div class="field"> 
        <%=form.label :descripcion, 'Descripción'%><br />
        <%=form.text_field :descripcion%>
    </div>
    Fecha<br>
    <%= form.date_field :fecha, class: 'form-control' %>
    <div class="field"> 
    <%=form.label :direccion, 'Dirección'%><br />
    <%=form.text_field :direccion%>
    </div>
    <div class="field"> 
        <%=form.label :capacidad, 'Capacidad'%><br />
        <%=form.text_field :capacidad%>
    </div>
    <div class="field"> 
        <%=form.label :costo, 'Costo'%><br />
        <%=form.text_field :costo%>
    </div>

    <div class="field">
      <%=form.label :service_ids, "Servicios"%><br />
      <% for service in Service.all %>
        <% if service.verified%>
          <div>
              <%= hidden_field_tag "party[service_ids][]", '' %>
              <%= check_box_tag "party[service_ids][]", service.id, @party.services.include?(service) %>
              <%= service.nombre %> ($<%= service.precio %>)
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="action"> 
        <%=form.submit "Actualizar", class:"button is-success" %>
    </div>
<% end %>


</div>
  <div class="column">
    
  </div>

</div>


</div>
</div>
</section>