<nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Inicio", static_pages_home_path, class:"navbar-item" %>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Carretes
        </a>
        <div class="navbar-dropdown">
          <%= link_to "Ver carretes", parties_index_path, class:"navbar-item"%>
          <% if current_user and not current_user.admin %>
          <%= link_to "Crear carrete", parties_new_path, class:"navbar-item"%>
          <% end %>
        </div>
      </div>

      <% if current_user %>
      <% if current_user.admin %>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Comunas
        </a>
        <div class="navbar-dropdown">
          <%= link_to "Ver comunas", comunas_index_path, class:"navbar-item"%>

          <%= link_to "Crear comuna", comunas_new_path, class:"navbar-item"%>
        </div>
      </div>
      <% end %>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Servicios
        </a>
        <div class="navbar-dropdown">
          <%= link_to "Ver servicios", services_index_path, class:"navbar-item"%>
          <% if not current_user.admin %>
          <%= link_to "Crear servicio", services_new_path, class:"navbar-item"%>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if not current_user %>
          <%= link_to 'Registrarse', new_user_registration_path, class:"button is-link" %> 
          <%= link_to 'Iniciar sesión', new_user_session_path, class:"button is-link" %> 
          <% else %> 
          <%= link_to "Editar cuenta", edit_user_registration_path, class:"button is-link" %> 
          <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class:"button is-link" %> 
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>


<section class="hero is-link is-fullheight-with-navbar">
<div class="hero-body">
<div class="container">

<% if current_user%>

<% if not current_user.admin%>
<h1 class="title">
Mis carretes
</h1>

<div class="columns is-multiline">
  <% cantidad = 0 %>
  <% @parties.each do |party| %>
    <% if party.user_id == current_user.id %>
      <% cantidad = 1 %>
    <div class="column is-one-quarter">
      <div class="card">
          <div class="card-content">
            <div class="content">
              <h3 class="title has-text-black-bis"><%= party.titulo %></h3>
              Descripción: <%= party.descripcion %> <br/>
              <% for comuna in Comuna.all %>
                <% if comuna.id == party.comuna_id %>
                  Comuna: <%= comuna.nombre %> <br/>
                <% end %>
              <% end %>
              Dirección: <%= party.direccion %> <br/>
              Capacidad: <%= party.capacidad %> <br/>
              Costos: $<%= party.costo %> <br/> <br/>
              <% if current_user %>
                <p style="text-align:center;">
                <%= link_to "Detalles", party_path(party.id), class: "button is-link"%>
                <%= link_to "Editar", party_edit_path(party.id), class: "button is-warning"%>
                <%= link_to "Eliminar", party_path(party.id), method: :delete, class: "button is-danger", data: { confirm: "¿Estás seguro?" }%>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if cantidad != 1 %>
    <h1 class="subtitle">No tienes carretes aún.</h1>
  <% end %>
</div>

<% end %>


<h1 class="title">
Carretes
</h1>

<div class="columns is-multiline">
  <% @parties.each do |party| %>
  <% if party.user_id != current_user.id %>
  <div class="column is-one-quarter">
    <div class="card">
        <div class="card-content">
          <div class="content">
            <h3 class="title has-text-black-bis"> <%= party.titulo %></h3>
            Descripción: <%= party.descripcion %> <br/>
            <% for comuna in Comuna.all %>
              <% if comuna.id == party.comuna_id %>
                Comuna: <%= comuna.nombre %> <br/>
              <% end %>
            <% end %>
            Dirección: <%= party.direccion %> <br/>
            Capacidad: <%= party.capacidad %> <br/>
            Costos: $<%= party.costo %> <br/> <br/>
            <% if current_user.admin %>
                <p style="text-align:center;">
              <%= link_to "Detalles", party_path(party.id), class: "button is-link"%>
              <%= link_to "Editar", party_edit_path(party.id), class: "button is-warning"%>
              <%= link_to "Eliminar", party_path(party.id), method: :delete, class: "button is-danger", data: { confirm: "¿Estás seguro?" }%>
              </p>
            <% elsif not current_user.admin %>
            <p style="text-align:center;">
            <%= link_to "Detalles", party_path(party.id), class: "button is-link"%>
            <% apuesta = 0 %>
            <% Assistant.all.each do |carrete| %>
              <% if carrete.user_id == current_user.id and carrete.party_id == party.id %>
                <%= link_to "Volver a apostar", party_edit_bet_path(party.id), class: "button is-success"%>
                <% apuesta = 1 %>
                <% break %>
                <% end %>
            <% end %>
            <% if apuesta == 0  %>
            <%= link_to "Apostar", party_bet_path(party.id), class: "button is-success"%>
            <% end %>
            </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>

<% else %>

<h1 class="title">
Carretes
</h1>

<div class="columns is-multiline">
  <% @parties.each do |party| %>
  <div class="column is-one-quarter">
    <div class="card">
        <div class="card-content">
          <div class="content">
            <h3 class="title has-text-black-bis"> <%= party.titulo %></h3>
            Descripción: <%= party.descripcion %> <br/>
            <% for comuna in Comuna.all %>
              <% if comuna.id == party.comuna_id %>
                Comuna: <%= comuna.nombre %> <br/>
              <% end %>
            <% end %>
            Dirección: <%= party.direccion %> <br/>
            Capacidad: <%= party.capacidad %> <br/>
            Costos: $<%= party.costo %> <br/> 
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


<% end %>


</div>
</div>
</section>