<h1>Nuevo Comentario</h1>

<p><%= notice %></p>

<%= form_with(model: @comentario, method: :post) do |form|%>
    <div class="field">
        <%=form.label :contenido%>
        <%=form.text_field :contenido%>
    </div>

    <div class="action">
        <%=form.submit%>
    </div>
    <div class="field">
        Seleccione el id de la comuna del carrete:
        <%= form.select :service_id, options_for_select(@lista), {class: 'chosen-select'} %>
      </div>
    <div class="field">
        <%= form.hidden_field :user_id, :value => current_user.id%>
    </div>

<% end %>
<table>
    <thread>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
        </tr>
    </thread>

    <tbody>
        <% @services.each do |service| %>
            <tr>
                <td><%= service.id %></td>
                <td><%= service.nombre %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= link_to "ver listado de comentarios", comentarios_index_path%>
