
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Inicio", static_pages_home_path, class:"navbar-item" %>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Carretes
        </a>
        <div class="navbar-dropdown">
          <%= link_to "Ver carretes", parties_index_path, class:"navbar-item"%>
          <% if current_user and not current_user.admin %>
          <%= link_to "Crear carrete", parties_new_path, class:"navbar-item"%>
          <% end %>
        </div>
      </div>

      <% if current_user %>
      <% if current_user.admin %>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Comunas
        </a>
        <div class="navbar-dropdown">
          <%= link_to "Ver comunas", comunas_index_path, class:"navbar-item"%>

          <%= link_to "Crear comuna", comunas_new_path, class:"navbar-item"%>
        </div>
      </div>
      <% end %>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Servicios
        </a>
        <div class="navbar-dropdown">
          <%= link_to "Ver servicios", services_index_path, class:"navbar-item"%>
          <% if not current_user.admin %>
          <%= link_to "Crear servicio", services_new_path, class:"navbar-item"%>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if not current_user %>
          <%= link_to 'Registrarse', new_user_registration_path, class:"button is-link" %> 
          <%= link_to 'Iniciar sesión', new_user_session_path, class:"button is-link" %> 
          <% else %> 
          <%= link_to "Editar cuenta", edit_user_registration_path, class:"button is-link" %> 
          <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class:"button is-link" %> 
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="hero is-link is-fullheight-with-navbar">
<div class="hero-body">
  <div class="container">

<div class="columns">
  <div class="column">
    
  </div>
  <div class="column">
    <h1 class="title">
    Editar usuario
    </h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, html: {class: 'box'}) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field"> 
      <%= f.label :first_name, 'Nombre'%><br />
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", required:true %>
      </div>

      <div class="field"> 
      <%= f.label :last_name, 'Apellido'%><br />
      <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", required:true %>
      </div> 
      
      <div class="field"> 
      <%= f.label :age, 'Edad'%><br />
      <%= f.number_field :age, autofocus: true, autocomplete: "age", required:true %>
      </div> 

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field"> 
      <%= f.label :phone_number, 'Número telefónico'%><br />
      <%= f.telephone_field :phone_number, autofocus: true, autocomplete: "phone_number", required:true %>
      </div> 

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password ,'Nueva contraseña'%> <i>(Deja en blanco si no quieres cambiarla)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> caracteres mínimo</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, 'Confirma nueva contraseña' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :current_password, 'Contraseña actual' %> <i>(Necesitamos tu contraseña para confirmar los cambios)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Actualizar", class: "button is-success"%>
      </div>
    <% end %>

    <h2 class="title">
    ¿Insatisfecho?
    </h2>
    <%= button_to "Cancelar cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete , class: "button is-danger"%>
    </div>
    
    <div class="column">
    
  </div>
</div>


</div>
</div>
</section>
